.sidebar {
  transition: transform 2000ms ease-out, opacity 2000ms ease-out, visibility 2000ms ease-out;

  background: red;
  width: 500px;
  height: 500px;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}
